@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  background:linear-gradient(0deg,rgba(206,237,255,0.5),rgba(206,237,255,0.5)),url(img/bg.png);
	color: #304956;
    font-size: 18px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width: 400px) {
    body {
        font-size: 24px;
    }
}

body a {
    color: #304956;
}

body a:hover{
    color: #FE0D00;
}

.name {
    width: 100%;
    fill: red;
}

section {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
